@import "src/globals.scss";

.title_container {
    @extend .largeTitle;
    padding: 24px 56px;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    row-gap: 36px;
}

// .products::after {
//     content: "";
//     flex: flex-start
// }