@import 'src/globals.scss';

.bar {
	background-color: rgb(238, 238, 238);
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
}

.actions_container {
	display: flex;
	align-items: center;
}

.navigation_bar {
	border-bottom: 1pt solid $light;
	width: 100%;
	background-color: white;
	position: relative;
	padding: 8px 64px;
    box-sizing: border-box;

}

.store_name {
	@extend .largeTitle;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	right: 0;
}