@import 'src/globals.scss';

.container {
	position: relative;
	display: flex;
	justify-content: center;
}

.actions_container {
	display: flex;
	align-items: center;
}



.navigation_bar {
	border-bottom: 1pt solid $light;
	width: 100%;
	background-color: white;
	position: relative;
	padding: 8px 36px;
}

.store_name {
	@extend .largeTitle;
	@extend .link;
	position: absolute;
	margin: 0;
	padding-top: 8px
}