$accent-color: #ffd701;
$accent-color-lighter: #ffeb80;
$site-color: #f3f3f3;
$primary-color: #434340;

body {
	background-color: $site-color;
}

.truncated {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.title {
	color: black;
	font-size: 12pt;
    font-weight: 600;
}

.largeTitle {
	font-size: 28pt;
	color: $primary-color;
	font-weight: 600;
}

.subtitle {
    font-size: 12pt;
}

.old_price {
	color: #fe0134;
	text-decoration: line-through;
	font-size: 10pt;
}

.price {
	color: $accent-color;
	font-weight: bold;
	font-size: 14pt;
}