.main_content {
    margin: 0 150px;
}

.cover_image_wrapper {
    margin-bottom: 100px;
}

.emoji_label_wrapper {
    margin-bottom: 20px;
    margin-right: 20px;
}

.section {
    margin-bottom: 60px;
}